name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            NEXT_TELEMETRY_DISABLED: 1
            APPWRITE_ENDPOINT: ${{ secrets.APPWRITE_ENDPOINT }}
            NEXT_PUBLIC_APPWRITE_ENDPOINT: ${{ secrets.APPWRITE_ENDPOINT }}
            APPWRITE_PROJECT_ID: ${{ secrets.APPWRITE_PROJECT_ID }}
            NEXT_PUBLIC_APPWRITE_PROJECT_ID: ${{ secrets.APPWRITE_PROJECT_ID }}
            APPWRITE_API_KEY: ${{ secrets.APPWRITE_API_KEY }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: "1.3.0"

            - name: Install dependencies
              run: bun install

            - name: Validate environment
              run: bun run validate-env:ci

            - name: Run tests
              run: bun run test

            - name: Run linter
              run: bun run lint
